LOG_LEVEL="INFO"
FEATURE_TRAINING_REVIEW=true
FEATURE_TRAINING_PLAN_PREPARATION=false
GARMIN_EMAIL=
GARMIN_PASSWORD=
DB_CONNECTION_STRING=
LLM_API_KEY=
GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_SHEETS_WORKSHEET_NAME=
GOOGLE_SERVICE_ACCOUNT_INFO=
