# Python bytecode
__pycache__/

# Config
.azure/
.vscode/
.cursor/

# Environment
/.venv
.env

#logs
logs/

# temp
zignored/
tree-maker/

docs/
# docs/roles_skills.md
# docs/definition_of_done.md

*.egg-info/
.pytest_cache/
.ruff_cache/
runs/

.cursorignore
AGENTS.md
